/* Genel Ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}*/
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(to bottom, #fff7cc, #ffe680);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #ffeb99;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 130px;
}

nav .logo img {
    height: 200px;  
}

nav .nav-links {
    list-style: none;
    display: flex;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    text-decoration: none;
    color: #733F34;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav .nav-links a:hover {
    color: #ff9900;
}

nav .nav-links a.active {
    color: #ff9900;
}

/* Ana Sayfa İçerik */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #fff7cc, #ffe680);
    flex: 1;
}

.hero img.hero-logo {
    width: 300px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2.5em;
    color: #ff9900;
    margin-top: -55px;
}

.hero p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1em;
    color: #555;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #ffeb99;
    color: #333;
    margin-top: auto; /* Footer'ın en alta itilmesini sağlar */
    width: 100%;
    font-size: 0.9em;
}

/* Mobil Uyumluluk */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: #ffeb99;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }
}
